In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.preprocessing import MinMaxScaler
# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/microsoft-adventure-works-cycles-customer-data/AWCustomers.csv
/kaggle/input/microsoft-adventure-works-cycles-customer-data/AWTest-Classification.csv
/kaggle/input/microsoft-adventure-works-cycles-customer-data/AWSales.csv
/kaggle/input/microsoft-adventure-works-cycles-customer-data/AWTest-Regression.csv

In [2]:
df_customer=pd.read_csv("../input/microsoft-adventure-works-cycles-customer-data/AWCustomers.csv")
df_sales=pd.read_csv("../input/microsoft-adventure-works-cycles-customer-data/AWSales.csv")

In [3]:
df_customer.columns

Index(['CustomerID', 'Title', 'FirstName', 'MiddleName', 'LastName', 'Suffix',
       'AddressLine1', 'AddressLine2', 'City', 'StateProvinceName',
       'CountryRegionName', 'PostalCode', 'PhoneNumber', 'BirthDate',
       'Education', 'Occupation', 'Gender', 'MaritalStatus', 'HomeOwnerFlag',
       'NumberCarsOwned', 'NumberChildrenAtHome', 'TotalChildren',
       'YearlyIncome', 'LastUpdated'],
      dtype='object')

In [4]:
df_sales.columns

Index(['CustomerID', 'BikeBuyer', 'AvgMonthSpend'], dtype='object')

In [5]:
df=pd.concat([df_customer,df_sales],axis=1)

In [6]:
df.columns

Index(['CustomerID', 'Title', 'FirstName', 'MiddleName', 'LastName', 'Suffix',
       'AddressLine1', 'AddressLine2', 'City', 'StateProvinceName',
       'CountryRegionName', 'PostalCode', 'PhoneNumber', 'BirthDate',
       'Education', 'Occupation', 'Gender', 'MaritalStatus', 'HomeOwnerFlag',
       'NumberCarsOwned', 'NumberChildrenAtHome', 'TotalChildren',
       'YearlyIncome', 'LastUpdated', 'CustomerID', 'BikeBuyer',
       'AvgMonthSpend'],
      dtype='object')

Number of columns in the dataset is:27

In [7]:
df.shape[1]

27

In [8]:
df.drop(['CustomerID'],axis=1,inplace=True)

In [9]:
df.head()

,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,CountryRegionName,...,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated,BikeBuyer,AvgMonthSpend
0,NaN,Chad,C,Yuan,NaN,7090 C. Mount Hood,NaN,Wollongong,New South Wales,Australia,...,M,M,1,3,0,1,81916,2017-03-06,1.0,50.97
1,NaN,Ryan,NaN,Perry,NaN,3651 Willow Lake Rd,NaN,Shawnee,British Columbia,Canada,...,M,M,1,2,1,2,81076,2017-03-06,1.0,53.11
2,NaN,Julia,NaN,Thompson,NaN,1774 Tice Valley Blvd.,NaN,West Covina,California,United States,...,F,S,0,3,0,0,86387,2017-03-06,1.0,54.08
3,NaN,Theodore,NaN,Gomez,NaN,2103 Baldwin Dr,NaN,Liverpool,England,United Kingdom,...,M,M,1,2,1,2,61481,2017-03-06,1.0,56.93
4,NaN,Marshall,J,Shan,NaN,Am Gallberg 234,NaN,Werne,Nordrhein-Westfalen,Germany,...,M,S,1,1,0,0,51804,2017-03-06,1.0,55.41

In [10]:
df.tail()

,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,CountryRegionName,...,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated,BikeBuyer,AvgMonthSpend
18356,NaN,Grace,C,Bailey,NaN,6627 Camelback Ct.,NaN,Coronado,California,United States,...,F,M,0,1,0,2,52953,2017-03-06,NaN,NaN
18357,NaN,Tasha,NaN,Deng,NaN,9627 Kendall Rd,NaN,Port Macquarie,New South Wales,Australia,...,F,S,0,2,0,0,60992,2017-03-06,NaN,NaN
18358,NaN,Jaclyn,NaN,Zhang,NaN,4364 Viera Avenue,NaN,Beaverton,Oregon,United States,...,F,S,0,2,0,0,51859,2017-03-06,NaN,NaN
18359,NaN,Erin,I,Reed,NaN,3866 Mt. Everest Court,NaN,Vancouver,British Columbia,Canada,...,F,S,0,0,0,0,87177,2017-03-06,NaN,NaN
18360,NaN,Amanda,NaN,Perry,NaN,7870 Orangewood Dr.,NaN,Grossmont,California,United States,...,F,M,1,2,0,0,136856,2017-03-06,NaN,NaN

In [11]:
df.drop(['Title','FirstName','MiddleName','LastName','Suffix','AddressLine2'],axis=1,inplace=True)

In [12]:
df.drop(['PhoneNumber'],axis=1,inplace=True)

In [13]:
df.drop(['PostalCode'],axis=1,inplace=True)

In [14]:
df.columns.shape

(17,)

In [15]:
df.describe()

,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,BikeBuyer,AvgMonthSpend
count,18361.000000,18361.000000,18361.000000,18361.000000,18361.000000,18355.00000,18355.000000
mean,0.610588,1.270301,0.338162,0.850389,72754.779642,0.55173,51.767207
std,0.487630,0.913989,0.568957,0.927315,30686.014313,0.49733,3.438024
min,0.000000,0.000000,0.000000,0.000000,25435.000000,0.00000,44.100000
25%,0.000000,1.000000,0.000000,0.000000,53312.000000,0.00000,49.410000
50%,1.000000,1.000000,0.000000,0.000000,61851.000000,1.00000,51.420000
75%,1.000000,2.000000,1.000000,2.000000,87410.000000,1.00000,53.600000
max,1.000000,5.000000,3.000000,3.000000,139115.000000,1.00000,65.290000

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18361 entries, 0 to 18360
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   AddressLine1          18361 non-null  object
 1   City                  18361 non-null  object
 2   StateProvinceName     18361 non-null  object
 3   CountryRegionName     18361 non-null  object
 4   BirthDate             18361 non-null  object
 5   Education             18361 non-null  object
 6   Occupation            18361 non-null  object
 7   Gender                18361 non-null  object
 8   MaritalStatus         18361 non-null  object
 9   HomeOwnerFlag         18361 non-null  int64
 10  NumberCarsOwned       18361 non-null  int64
 11  NumberChildrenAtHome  18361 non-null  int64
 12  TotalChildren         18361 non-null  int64
 13  YearlyIncome          18361 non-null  int64
 14  LastUpdated           18361 non-null  object
 15  BikeBuyer             18355 non-null  float64
 16  AvgMonthSpend         18355 non-null  float64
dtypes: float64(2), int64(5), object(10)
memory usage: 2.4+ MB

In [17]:
df.BirthDate=pd.to_datetime(df.BirthDate)

In [18]:
df.BirthDate

0       1987-11-13
1       1972-07-21
2       1985-11-09
3       1977-10-18
4       1975-02-05
           ...
18356   1990-11-11
18357   1992-10-13
18358   1983-11-24
18359   1995-06-15
18360   1986-03-26
Name: BirthDate, Length: 18361, dtype: datetime64[ns]

In [19]:
df.LastUpdated=pd.to_datetime(df.LastUpdated)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18361 entries, 0 to 18360
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   AddressLine1          18361 non-null  object
 1   City                  18361 non-null  object
 2   StateProvinceName     18361 non-null  object
 3   CountryRegionName     18361 non-null  object
 4   BirthDate             18361 non-null  datetime64[ns]
 5   Education             18361 non-null  object
 6   Occupation            18361 non-null  object
 7   Gender                18361 non-null  object
 8   MaritalStatus         18361 non-null  object
 9   HomeOwnerFlag         18361 non-null  int64
 10  NumberCarsOwned       18361 non-null  int64
 11  NumberChildrenAtHome  18361 non-null  int64
 12  TotalChildren         18361 non-null  int64
 13  YearlyIncome          18361 non-null  int64
 14  LastUpdated           18361 non-null  datetime64[ns]
 15  BikeBuyer             18355 non-null  float64
 16  AvgMonthSpend         18355 non-null  float64
dtypes: datetime64[ns](2), float64(2), int64(5), object(8)
memory usage: 2.4+ MB

In [21]:
var_cat=[]
var_num=[]
for c in df.columns:
    if df[c].dtype=='object':
        var_cat.append(c)
    if (df[c].dtype=='int64'or df[c].dtype=='float64'):
         var_num.append(c)

In [22]:
print("Categorical Variables: ",var_cat)

Categorical Variables:  ['AddressLine1', 'City', 'StateProvinceName', 'CountryRegionName', 'Education', 'Occupation', 'Gender', 'MaritalStatus']

In [23]:
cat_ordinal=[]
cat_nominal=[]
for c in var_cat:
    if (df[c].nunique()) >5:
        cat_nominal.append(c)
    else:
        cat_ordinal.append(c)

In [24]:
cat_nominal

['AddressLine1', 'City', 'StateProvinceName', 'CountryRegionName']

In [25]:
cat_ordinal

['Education', 'Occupation', 'Gender', 'MaritalStatus']

In [26]:
num_discrete=[]
num_continuous=[]
for c in var_num:
    if (df[c].nunique()) >10:
        num_continuous.append(c)
    else:
        num_discrete.append(c)

In [27]:
num_discrete

['HomeOwnerFlag',
 'NumberCarsOwned',
 'NumberChildrenAtHome',
 'TotalChildren',
 'BikeBuyer']

In [28]:
num_continuous

['YearlyIncome', 'AvgMonthSpend']

BirthDate and Last Updated are datetime features

In [29]:
df.shape

(18361, 17)

In [30]:
df.isnull().sum()

AddressLine1            0
City                    0
StateProvinceName       0
CountryRegionName       0
BirthDate               0
Education               0
Occupation              0
Gender                  0
MaritalStatus           0
HomeOwnerFlag           0
NumberCarsOwned         0
NumberChildrenAtHome    0
TotalChildren           0
YearlyIncome            0
LastUpdated             0
BikeBuyer               6
AvgMonthSpend           6
dtype: int64